<script src="https://cdn.bootcss.com/gitalk/1.5.0/gitalk.min.js"></script>
<script src="https://cdn.bootcss.com/font-awesome/5.10.0-11/js/fontawesome.min.js"></script>

<script>
  window.WebFontConfig = {
      custom: {
          families: ['Spoqa Han Sans:100,300,400,700'],
          urls: ['https://cdn.bootcss.com/spoqa-han-sans/2.1.2/css/SpoqaHanSans-kr.min.css']
      },
      timeout: 60000
  };
  (function(d) {
      var wf = d.createElement('script'), s = d.scripts[0];
      wf.src = 'https://cdn.bootcss.com/webfont/1.6.28/webfontloader.js';
      s.parentNode.insertBefore(wf, s);
  })(document);
</script>
