---
layout: default-blog
---

<article class="posts">
  <h2>{{ page.title }}</h2>

  <div clsss="meta">
    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/taxis#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="entry">
    {{ content }}
  </div>

</article>

<div class="pagination">
  {% if page.previous.url %}
  <span class="prev" >
    <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
      ← 上一篇
    </a>
  </span>
  {% endif %}
  {% if page.next.url %}
  <span class="next" >
    <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
      下一篇 →
    </a>
  </span>
  {% endif %}
</div>
